---
import "../styles/global.css";
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <slot name="head" />
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />ㅅㅅ
  </body>
</html>
