---
import "../styles/global.css";
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <slot name="head" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <title> 민건축 | 용인 처인구 주택 건축, 인테리어, 리모델링 전문</title>
    <meta name="description" content="용인시 처인구 전지역 시공 가능. 주택 신축, 증개축, 대수리, 인테리어, 설비, 방수 전문 민건축 포트폴리오입니다. 꼼꼼한 시공과 합리적인 견적을 약속드립니다." />
    <meta name="keywords" content="민건축, 용인 인테리어, 용인 집수리, 용인 리모델링, 처인구 주택 건축,  처인구 인테리어" />
    <meta property="og:title" content="민건축 - 용인시 처인구 주택 건축 & 인테리어" />
    <meta property="og:description" content="용인 처인구 건축, 인테리어 전문. 포트폴리오를 확인해보세요." />
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
